body {
  margin: 0;
}

.main {
  padding: 8px;
}

.task {
  display: flex;
  align-items: center;
  border: 1px solid black;
  padding: 2px;
  max-width: 200px;
}

.task + .task {
  margin-top: 4px;
}

.task > * + * {
  margin-left: 4px;
}

.vehicle {
  display: flex;
  flex-wrap: wrap;
  border-style: outset;
  margin-bottom: 8px;
}

.vicData {
  font-size: x-large;
  margin-left: 40px;
}

.pic {
  border-style: solid;
  margin-left: 20px;
}

.title {
text-align: center;
height: 100px;
vertical-align: middle;
font-size: 60px;
display: grid;
align-items: center;
margin-top: auto;
margin-bottom: auto;
border-bottom: 5px solid yellow;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  width: 400px;
}

.close {
  float: right;
  cursor: pointer;
}

.order {
  margin-bottom: 10px;
}
